<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Events in The City</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/eventDetails.css' />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="angularjs/login.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">

</head>

<body ng-app="mylogin" ng-controller="login">
  <header>
    <div class="displaycontent" style="z-index: 1000;">
      <div class="navi">
        <nav class="navbar navbar-expand-lg  custom-navbar">
          <a class="navbar-brand custom-brand" href="/homepage">Events In the City</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactUs">CONTACT US</a>
              </li>
            </ul>

            <div class="navbar-collapse collapse dual-collapse">
              <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="/profile">PROFILE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ng-click="logout()">LOGOUT</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <hr/>
  </header>

  <div class="backpage">
    <a class="back" onclick="window.history.back()">Go back to previous page</a>
  </div>


  <div class="container details">
    <p class="detailtitle">Event Details</p>
    <div class="jumbotron details">

      <div>
        <h2><%= fun.title %></h2>

          <Strong>Time : </Strong>
          <%=fun.time%>
        </p>
        <p>
          <Strong>Location : </Strong>
          <%=fun.location%>
        </p>
        <p>
          <Strong>Description: </Strong>
          <%=fun.description%>
        </p>
        <p>
        <p>
            <p><a href="<%= fun.url %>">Read More...</a></p>

        </p>
      </div>
      <form action="/savefunDetails" method="post" class="save">
        <input type="hidden" id="eventid" name="eventid" value=<%=fun.id%>>
        <input type="hidden" id="eventType" name="eventType" value=<%=fun.type%>>
        <input type="submit" class="btn btn-info saveeventf" value="Save Event">
      </form>

    </div>
  </div>
<div class="line">
  <hr />
</div>
  <div class="container sampleEvents">

    <h3>You might also be interested in</h3>

    <div class="row">

      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <img src=<%= recommend[0].image %> alt="images/index.jpeg">
          </div>
          <div class="card-content">
            <p>
              <%= recommend[0].title %>
            </p>
          </div>
          <div class="card-action">
            <a class="btn btn-primary fun" href="/funEventDetails?id=<%=recommend[0].id%>&type=<%=recommend[0].type%>&cat=fun">View Event page</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <img src=<%= recommend[1].image %> alt="images/index.jpeg">
          </div>
          <div class="card-content">
            <p>
              <%= recommend[1].title %>
            </p>
          </div>
          <div class="card-action">
            <a class="btn btn-primary fun" href="/funEventDetails?id=<%=recommend[1].id%>&type=<%=recommend[1].type%>&cat=fun">View Event page</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <img src=<%= recommend[2].image %> alt="images/index.jpeg">
          </div>
          <div class="card-content">
            <p>
              <%= recommend[2].title %>
            </p>
          </div>
          <div class="card-action">
            <a class="btn btn-primary fun" href="/funEventDetails?id=<%=recommend[2].id%>&type=<%=recommend[2].type%>&cat=fun">View Event page</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <div class="footer">
      <p class="footertext">Copyright © 2017 Events in the City. All Rights Reserved.</p>
    </div>
  </footer>

</body>

</html>
