<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
  <title>Events in The City</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="angularjs/login.js"></script>

</head>

<body ng-app="mylogin" ng-controller="login">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  	<button class="btn btn-primary" onclick="window.history.back()"><i class="glyphicon glyphicon-chevron-left">Back</i></button>
    <a class="navbar-brand" href="#">Events in the City</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>&nbsp;&nbsp;
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()">Logout</button>
    </form>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1>Events In The City!</h1>
      <p>Listing Events in the Bay Area</p>
    </div>

    <div class="container-fluid" style="margin-bottom:20px">
      <h2>Tech Events</h2>
      <div class="event-container">
        <div class="row" style="margin:10px">

          <!--<div class="col-md-12">-->
          <% for(var i=0;i<values.length;i++) { %>
            <% if(i % 3 == 0){ %>
              <!--  <div class="row">-->
              <% } %>
                <div class="card" style="margin:10px; width:15rem">
                  <!--style="width:20rem"-->
                  <div class="card-body">
                    <h5 class="card-title"><%= values[i].title %></h5>
                    <p class="card-text text-secondary">
                      <%= values[i].time %>
                        <p>
                          <a class="btn btn-primary" href="/techEventDetails?id=<%=values[i].id%>&type=<%=values[i].type%>&cat=tech">Continue</a>
                          <!--a class="btn btn-primary" href="/saveToFavorite"><i class="glyphicon glyphicon-star-empty"></i>Save</a-->
                       <!--    <a class="btn btn-primary" href="/saveToFavorite"><i class="glyphicon glyphicon-star-empty"></i>Save</a> -->
                  </div>
                </div>
                <%  if(i % 3 == 2){ %>

                  <% } %>
                    <% } %>
        </div>
           	<% if (pageCount > 1) { %>
	        <ul class="pagination">
	            <% if (currentPage > 1) { %>
	                <li><a href="/techEvents?page=1">&laquo;</a></li>
	            <% } %>
	            <% var i = 1;
	            if (currentPage > 5) {
	                i = +currentPage - 4;
	            } %>
	            <% if (i !== 1) { %>
	                <li class="disabled"><a href="#">...</a></li>
	            <% } %>
	            <% for (i; i<=pageCount; i++) { %>
	                <% if (currentPage == i) { %>
	                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
	                <% } else { %>
	                    <li><a href="/techEvents?page=<%= i %>"><%= i %></a></li>
	                <% } %>
	                <% if (i == (+currentPage + 4)) { %>
	                    <li class="disabled"><a href="#">...</a></li>
	                <% break; } %>
	            <% } %>
	            <% if (currentPage != pageCount) { %>
	                <li><a href="/techEvents?page=<%= pageCount %>">&raquo;</a></li>
	            <% } %>
	        </ul>
	    <% } %>
         </div>
        
     
     
    </div>
    <hr />


  </div>
  
  <footer>
  	<div class="row" style="height:75px;">
  		<div class = "col-md-8" style="background:#7ed026;">
  			<p class="footerText">Copyright © 2017 Events in the City. All Rights Reserved.</p>
  		</div>
  		<div class = "col-md-4" style="background:#00aeef;">
  			<p ><a href='/about' class="footerText" style="text-align:center;">About</a></p>
  		</div>
  	</div>
  </footer>
</body>

</html>
